{
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSameLine": true,
  "semi": true,
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
