.auth-body {
  height: 100%;
  width: 100%;
  background-image:
    linear-gradient(to bottom, transparent 0%, transparent 100%), url('/assets/images/awliaa-wallpaper.png'),
    url('/assets/images/auth-wallpaper.png');
  background-size:
    100% 100%,
    100% calc(100% - var(--split-position));
  background-position:
    0 0,
    0 0,
    0 var(--split-position);
  background-repeat: no-repeat;
  position: fixed;
}

.auth-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
}

.auth-card {
  max-width: 490px;
  border-radius: 24px;
  padding: 24px;
  width: 100%;
  background-color: #fff;
}

.card-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.login-type .ant-radio-button-wrapper {
  width: 50%;
  height: 48px;
  color: #6d6d6d;
  font-weight: 500;
  padding-block-start: 8px;
  text-align: center;
  border: 1px solid #56a5ff;
}

.login-type .ant-radio-button-wrapper .ant-radio-button-checked {
  border-radius: 2px;
  border: 3px solid #56a5ff;
  background-color: 56a5ff !important;
}

.form-input-field {
  height: 48px;
}

.form-input-field::placeholder {
  font-weight: 600;
}

.auth-links {
  color: #090914;
}

.password-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-button {
  height: 65px;
  width: 100%;
  background-color: #061539;
  color: #fff;
  border-radius: 8px;
}

.confirm-mobile-header {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-block-end: 40px;
}

.rtl-phone-input .react-tel-input .selected-flag {
  width: 45px;
  background-color: transparent !important;
  left: auto;
  right: 10px;
}

.ltr-phone-input .react-tel-input .selected-flag {
  width: 45px;
  background-color: transparent !important;
}

.rtl-phone-input .react-tel-input .selected-flag .arrow {
  left: auto;
  right: 22px;
}

.rtl-phone-input .react-tel-input .selected-flag.open .arrow,
.ltr-phone-input .react-tel-input .selected-flag.open .arrow {
  transform: rotate(180deg);
}

.rtl-phone-input .react-tel-input .country-list {
  text-align: right;
  right: 0;
  left: auto;
}
