.radio-group-spacing .ant-radio-button-wrapper {
  border: 1px solid hsl(0, 0%, 69%);
  margin-inline-end: 14px;
  margin-block-end: 8px;
  border-radius: 8px !important;
  padding-block-start: 8px;
  height: 48px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.health-radio-button .ant-radio-button-wrapper {
  width: 141px;
}

.parent-health-radio-button .ant-radio-button-wrapper {
  width: 110px;
}

.addiction-radio-button .ant-radio-button-wrapper {
  width: 294px;
}

.skin-radio-button .ant-radio-button-wrapper {
  padding-inline: 4px;
  width: 89px;
  background-color: transparent !important;
}

.optional-input {
  max-width: 600px;
}

.ant-radio-button-wrapper .ant-radio-button-checked {
  background-color: #56a5ff;
  border-radius: 8px;
}

.skin-radio-button .ant-radio-button-wrapper .ant-radio-button-checked {
  border-radius: 8px;
  border: 3px solid #56a5ff;
  background-color: transparent !important;
}

.radio-group-spacing .ant-radio-button-wrapper:not(:first-child)::before {
  display: none !important;
}

.ant-radio-group {
  display: block !important;
}

.skin-option {
  border: none;
}

.skin-option.WHITE {
  background-color: #f6ede7 !important;
  color: #000 !important;
}

.skin-option.LIGHT_TAN {
  background-color: #f6d8c5 !important;
  color: #000 !important;
}

.skin-option.TAN {
  background-color: #ca8a60 !important;
  color: #000 !important;
}

.skin-option.MEDIUM_BROWN {
  background-color: #91553b !important;
  color: #fff !important;
}

.skin-option.BROWN {
  background-color: #68463c !important;
  color: #fff !important;
}

.skin-option.DARK_BROWN {
  background-color: #2b2a26 !important;
  color: #fff !important;
}

.user-basic-details {
  display: flex;
  gap: 16px;
  width: 50%;
}

.details-select {
  max-width: 600px;
}

.user-info-input,
.ant-radio-button-wrapper,
.details-select .ant-select-selector {
  border: 1px solid #b0b0b0 !important;
  border-radius: 8px;
}

.user-info-details-text {
  min-height: 100px !important;
  max-height: 150px !important;
  max-width: 600px !important;
}

@media (max-width: 768px) {
  .user-basic-details {
    flex-direction: column;
    width: 100%;
  }

  .optional-input {
    max-width: 300px;
  }
}
